/* @use './partials/exmaple.scss'; */


#app {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  background-color: seashell;
}

.bg-header {
  background-color: lightseagreen;
  box-shadow: 10px 10px 10px 10px lightblue;
  color: black;
}

.logo {
  
  font-weight: 600;
  color: palegoldenrod;
}

.link {
  color: currentColor;
  text-decoration: none !important;

}

.error {
  list-style: none;
  color: red;
  font-weight: 400;
  font-size: 16px;
  text-align: left !important;
}

.stars {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }





// *** UTILITIES ***
.gold {
  color: gold;
}

.seagreen {
  color: lightseagreen !important;
}

.goldsand {
  color: palegoldenrod !important;
}

.card_recap {
  background-color: lightseagreen;
  color: white;
  border-radius: 16px;
  height: 360px;
}

strong {
  color: lightseagreen !important;
}

.coral {
  color: lightcoral !important;
  font-weight: 700;
}

.left {
  text-align: left !important;
}





// *** MEDIA ***
@media screen and (min-width: 300px){



  .logo {
    font-size: 32px;
  }
}

@media screen and (max-width: 698px){



}

@media screen and (min-width: 698px){



  .logo {
    font-size: 48px;
  }
}